
.card-body{
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#52515185;
    padding: 2rem;
    max-height: 100%;
    transform: translateY(20rem);
    transition: transform 0.3s ease-in;
}  

.card:hover .card-body{
    transform: translateY(0%);
}
